body.sponsor {
      margin: 0;
      padding: 0;
      background-color: #ced4da;
      height: 100vh;
}
body.admin {
      margin: 0;
      padding: 0;
      background-color: #ffed4a6e;
      height: 100vh;
}
#login .container #login-row #login-column #login-box {
      margin-top: 120px;
      max-width: 600px;
      height: 320px;
      border: 1px solid #9C9C9C;
      background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
      padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
      margin-top: -85px;
}

.text-info {
      color: #555!important;
}
.btn-info {
      color: white;
      background-color: #495057;
      border-color: #6d6d6d;
}